<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @sale.url %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @sale.picture %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
